@tailwind base;
@tailwind components;
@tailwind utilities;

.center-v-h {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.center-v-h-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  }